.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.home_row {
  display: flex;
  justify-content: space-around;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
/* 
.home_image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
} */

.home_options {
  box-sizing: border-box;
  background-color: #232f3e;
  max-height: 39px;
  padding-top: 0;
  padding-left: 1px;
  position: static;
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  z-index: 4;
  color: #fff;
  align-items: center;
}
.home_options > ul {
  padding: 0;
  flex: 1 1 auto;
  align-items: flex-end;
  margin: 0;
}

.home_options > ul > li {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  margin: 5px 0 6px;
  font-weight: 700;
  padding: 8px 9px;
}
.home_menu {
  display: flex;
  position: static;
  float: none;
  height: auto;
  padding: 8px 9px 8px 9px;
  margin: 5px 0 6px 0;
  align-items: center;
}

.home_menuIconLabel {
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  padding-left: 5px;
  white-space: nowrap;
}

.home_IconLabel {
  width: 17px;
  height: 14px;
  background-position: -172px -255px;
}
