.carousel {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
}

.image > img {
  -webkit-mask-image: linear-gradient(to top, transparent 25%, black 75%);
  mask-image: linear-gradient(to top, transparent 25%, black 75%);
}
